biblioteca-backend/*.class
biblioteca-backend/*.log
biblioteca-backend/*.ctxt
biblioteca-backend/.mtj.tmp/
biblioteca-backend/*.jar
biblioteca-backend/*.war
biblioteca-backend/*.nar
biblioteca-backend/*.ear
biblioteca-backend/*.zip
biblioteca-backend/*.tar.gz
biblioteca-backend/*.rar
biblioteca-backend/hs_err_pid*
biblioteca-backend/*.classpath
biblioteca-backend/*.project
biblioteca-backend/*.factorypath
biblioteca-backend/*.settings
biblioteca-backend/target/

biblioteca-frontend/node_modules
biblioteca-frontend/.pnp
biblioteca-frontend/.pnp.js
biblioteca-frontend/coverage
biblioteca-frontend/build
biblioteca-frontend/.DS_Store
biblioteca-frontend/.env.local
biblioteca-frontend/.env.development.local
biblioteca-frontend/.env.test.local
biblioteca-frontend/.env.production.local
biblioteca-frontend/npm-debug.log*
biblioteca-frontend/yarn-debug.log*
biblioteca-frontend/yarn-error.log*