.carregando {
    text-align: center;
}

.carregando .spinner {
    margin-right: 2%;
}

.carregando span {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    margin-left: 1%;
}