table tbody tr td {
    vertical-align: baseline;
}

table tbody tr td a {
    margin-left: 10px;
    cursor: pointer;
    font-size: x-large;
}

.botoes {
    margin: 5px;
    margin-bottom: 65px;
}

.botoes button {
    min-width: 120px;
    float: right;
}

.botoes button:hover  {
    opacity: 1;
    font-style: italic;
    font-weight: bold;
    transform: scale(1.1);
}

.carregar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.carregar button span {
    margin-left: 2px;
}
