table tbody tr td a {
    margin-right: 10px;
    cursor: pointer;
}

table tbody tr td .btn-delete {
    color: #FF6347;
}

div h3 {
    font-weight: 300;
    padding-left: 43%;
    padding-right: 43%;
    margin-top: 50px;
}
